  # python==3.9.7
  tensorflow
  opencv
  keras
  pandas==1.4.1
  seaborn==0.11.2
  scikit-learn==1.0.2
  plotly==5.1.0
  sweetviz==2.1.3
  pyaescrypt==6.0.0
  pydot==1.4.2
  graphviz
  jupyter_contrib_nbextensions==0.5.1
  ipywidgets==7.6.5
  jupyter==1.0.0
